.credit-invoice-wrapper {
    width: min(90%, 400px);
    padding: 2.5rem 2rem 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    scale: 0;
    font-size: 0.85rem;
    color: var(--color-1);
    background-color: var(--color-2);
}

.credit-invoice-wrapper .hole {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-1);
}

.credit-invoice-wrapper .members {
    border-bottom: none;
}

.credit-invoice-wrapper .members .usernames {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5px;
}

.credit-invoice-wrapper .members .username-wrapper {
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.31rem;
    font-size: 0.7rem;
    color: var(--color-2);
    background-color: var(--color-1);
}

.credit-invoice-wrapper .username-wrapper .circle {
    width: 0.31rem;
    height: 0.31rem;
    border-radius: 50%;
    background-color: red;
}