.invoice-wrapper {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    scale: 0;
    font-size: 0.9rem;
    color: var(--color-1);
    background-color: var(--color-2);
}

.invoice-wrapper .header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.invoice-wrapper .header > * {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.invoice-wrapper .details {
    height: 0;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.invoice-wrapper .details > :last-child {
    border-bottom: none;
}

.invoice-wrapper .details .members {
    padding-bottom: 2rem;
}

.invoice-wrapper .share .info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.invoice-wrapper .info > :nth-child(2) {
    font-weight: bold;
}

.invoice-wrapper .details .share {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.invoice-wrapper .share button {
    width: 150px;
    border: none;
    color: var(--color-2);
    background-color: var(--color-1);
    box-shadow: 0 0 5px var(--color-1);
}



/* Media Query */

@media screen and (min-width: 992px) {
    .invoice-wrapper .header {
        cursor: pointer;
    }
}