.invoice-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.5rem;
    scale: 0;
}

.invoice-wrapper .main {
    width: 85%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    background-color: white;
}

.invoice-wrapper .main .header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.invoice-wrapper .header > * {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.invoice-wrapper .header .fa-clipboard-list {
    color: #8F94FB;
}

.invoice-wrapper .main .details {
    height: 0;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.invoice-wrapper .details > :last-child {
    border-bottom: none;
}

.invoice-wrapper .details .members {
    padding-bottom: 2rem;
}

.invoice-wrapper .share .info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.invoice-wrapper .info > :nth-child(2) {
    font-weight: bold;
}

.invoice-wrapper .details .share {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.invoice-wrapper .share button {
    width: 150px;
    border: none;
}

.invoice-wrapper .delete-invoice-wrapper {
    align-self: flex-start;
    width: min(15%, 65px);
    padding: 1.1rem 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD6D6;
}

.invoice-wrapper .delete-invoice-wrapper i {
    font-size: 1.2rem;
    color: red;
}



/* Media Query */

@media screen and (min-width: 992px) {
    .invoice-wrapper .header,
    .invoice-wrapper .delete-invoice-wrapper {
        cursor: pointer;
    }
}