.dashboard-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dashboard-container .dashboard-wrapper {
    display: flex;
    column-gap: 3rem;
}

.dashboard-wrapper button {
    width: 7rem;
    height: 7rem;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    scale: 0;
    color: black;
    background-color: white;
}