.invoices-container {
    position: relative;
}

.invoices-container .dashboard-btn {
    width: 10rem;
    border-radius: 20px 0 0 20px;
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 1.5rem;
    column-gap: 0.8rem;
    opacity: 0;
    scale: 0;
}