.create-invoice-container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-invoice-container .my-invoices-btn {
    width: 10rem;
    border-radius: 20px 0 0 20px;
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 1.5rem;
    column-gap: 0.8rem;
    opacity: 0;
}

.my-invoices-btn i {
    font-size: 0.95rem;
}

.create-invoice-container .create-invoice-wrapper {
    width: min(80%, 350px);
    position: relative;
}

.create-invoice-wrapper * {
    width: 100%;
}

.create-invoice-wrapper form {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    transform: translateX(100vw);
}

.create-invoice-wrapper form label {
    margin-right: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.create-invoice-wrapper form .see-invoice-btn {
    margin-top: 1.4rem;
    position: relative;
    z-index: -1;
}

.create-invoice-wrapper .continue-btn {
    margin-top: 7rem;
    transform: translateX(100vw);
}