.fa-bars {
    position: absolute;
    z-index: 1;
    top: 1.5rem;
    right: 2.25rem;
    font-size: 2rem;
    color: white;
}



/* Media Query */

@media screen and (min-width: 992px) {
    .fa-bars {
        cursor: pointer;
    }
}