/* Global Styles */

@font-face {
    font-family: IRANSans;
    src: url("./font/IRANSans.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: IRANSans;
}

body {
    background-color: #8F94FB;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bg .square {
    position: absolute;
    bottom: -200px;
    background-color: #C1C9FF;
    animation: animate linear infinite;
}

.bg .square:nth-child(1) {
    left: 10%;
    width: 50px;
    height: 50px;
    animation-duration: 12s;
}

.bg .square:nth-child(2) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-duration: 25s;
}

.bg .square:nth-child(3) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-duration: 18s;
}

.bg .square:nth-child(4) {
    left: 30%;
    width: 150px;
    height: 150px;
    animation-duration: 30s;
}

.bg .square:nth-child(5) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 10s;
}

.bg .square:nth-child(6) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-duration: 28s;
}

.bg .square:nth-child(7) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-duration: 17s;
}

.bg .square:nth-child(8) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-duration: 21s;
}

.bg .square:nth-child(9) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-duration: 11s;
}

.bg .square:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-duration: 23s;
}

@keyframes animate {
    from {
        border-radius: 0;
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    to {
        border-radius: 50%;
        opacity: 0;
        transform: translateY(-1200px) rotate(720deg);
    }
}

input,
button {
    padding: 0.6rem 0.8rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
}

input {
    border-radius: 10px;
}

input::placeholder {
    font-size: 0.8rem;
}

button {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: #E73213;
}

.members .usernames {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5px;
}

.members .username-wrapper {
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.31rem;
    font-size: 0.7rem;
    color: white;
    background-color: black;
}

.username-wrapper .circle {
    width: 0.31rem;
    height: 0.31rem;
    border-radius: 50%;
    background-color: red;
}

.toast {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}



/* Media Queries */

@media screen and (min-width: 576px) {
    html {
        font-size: 17px;
    }
    .toast {
        width: 350px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 19px;
    }
    button {
        cursor: pointer;
    }
}