/* Global Styles */

@font-face {
    font-family: IRANSans;
    src: url("./font/IRANSans.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: IRANSans;
}

html {
    --color-1: white;
    --color-2: black;
}

input,
button {
    padding: 0.6rem 0.8rem;
    border: 2px solid var(--color-2);
    outline: none;
    font-size: 0.9rem;
}

input {
    border-radius: 10px;
}

input::placeholder {
    font-size: 0.8rem;
}

button {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--color-1);
    background-color: var(--color-2);
    box-shadow: 0 0 5px var(--color-2);
}

.members .usernames {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5px;
    font-weight: bold;
}

.members .username-wrapper {
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.31rem;
    font-size: 0.7rem;
    color: var(--color-2);
    background-color: var(--color-1);
}

.username-wrapper .circle {
    width: 0.31rem;
    height: 0.31rem;
    border-radius: 50%;
    background-color: red;
}

.toast {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}



/* Media Queries */

@media screen and (min-width: 576px) {
    html {
        font-size: 17px;
    }
    .toast {
        width: 350px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 19px;
    }
    button {
        cursor: pointer;
    }
}